.navbar-name {
    color: #A9A9A9;
    text-transform: uppercase;
    font-weight: 700;
}

#manage-listings {
    a {
        color: black;
    }
}

#create-listings {
    a {
        color: #1A73BA;
        font-weight: 700;
        text-transform: uppercase;
    } 
}