.navbar-name {
    color: #A9A9A9;
    text-transform: uppercase;
    font-weight: 700;
}

.selected {
    text-decoration: underline;
    &.nav-link {
        &:hover, &:focus, &.visited {
            text-decoration: underline;
        }
    }
}

.basic-nav-item {
    a {
        color: black;
    }
}

#create-listings {
    a {
        color: #1A73BA;
        font-weight: 700;
        text-transform: uppercase;
    } 
}