input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
     -webkit-appearance: none;
     margin: 0px; 
}

input {
    margin-bottom: 10px; 
}

label {
    font-weight: 700;
    font-family: "Open Sans";
    float: left;
    margin: 10px 0px 0px 0px;
}

#character-remaining {
    float: left;
}

.create-listing-hint {
    font-style: italic;
    font-size: small;
    font-family: "Open Sans";
}

.create-listing-heading {
    text-transform: uppercase;
    font-size: large;
    font-weight: 700;
    font-family: "Open Sans";
}

.col-md-8 {
    align-content: center;
}

.btn {
    margin: 25px;
    text-transform: uppercase;
}

.file-upload {
    margin-top:20px;
    float:left;
}

.filenames{ 
    text-align: left;
}

.post-button, .filenames {
    clear: left;
}

@media screen and (max-width: 480px) {

}