@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

.listing {
    border: #A9A9A9 solid 1px;
}
.list-content {
    margin: 15px;
}

.listing-image {
    min-width: 20px;
    min-height: 30px;
    max-width: 100px;
    max-height: 300px;
    float: left;
}

.listing-price{
    float: right;
}
.listing-heading {
    display: inline-block;
}

.listing-heading h2 {
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: 700;

}