@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

.listing {
    border: #A9A9A9 solid 1px;
    margin: 30px;
    padding: 0px;
}

.listing-image {
    min-width: 20px;
    min-height: 30px;
    max-width: 100px;
    max-height: 300px;
    float: left;
    margin: 0 15px 15px 15px;
}

.listing-price{
    margin: 25px 0 13px 13px;
    float: right;
    background: green;
    color: white;
    padding: 5px 9px 5px;
    font-weight: 700;
}

.listing-heading {
    display: inline-block;
    float: left;
    margin: 15px 0px 15px 0px;
    text-align: left;
    width: 300px;
}

.listing h2, .listing h3 {
    font-family: "Open Sans";
    font-weight: 700;
}

.listing-heading h2 {
    margin-top: 18px;
    font-size: 18px;
    text-transform: uppercase;
}

.list-content {
    text-align: left; 
    margin: 15px;
}

.list-content h3 {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 0;
}

.list-content p{
    font-weight: 300;
    color: dimgray;
}

.col-md-5.listing {
    padding: 0px;
}

.listing-price .currency {
    font-size: 0.7rem;
}

.listing-upper , .list-content {
    display: block;
    width: 100%;
    float: left;
}


@media screen and (max-width: 480px) {
    .listing-price{
        margin: 15px 0 13px 0px;
        float: left;
    }
}